.passwordPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f3645;
}

.passwordForm {
  width: 500px;
  background: #00475fde;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot {
  margin-left: -150px;
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
}

.passwordForm a {
  color: #ff4d4f;
  text-decoration: none;
  font-weight: bold;
}

.passwordForm a:hover {
  text-decoration: underline;
}
